pandas
streamlit
matplotlib
seaborn
scikit-learn
statsmodels
plotly
requests
duckdb
pyarrow
scipy
numpy
scipy-stats
scikit-learn-extra
scikit-learn-pandas
scikit-learn-onnx
scikit-learn-intelex
scikit-learn-contrib-lightning
scikit-learn-contrib-pyod
scikit-learn-contrib-fm
scikit-learn-contrib-imbalanced-learn   
